<header>
<h1>Order Tracking</h1>
<p>Customer: 250006<br/>
  Project: QA33290</p>
</header>
<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d89066.31675845286!2d-84.36790081814567!3d33.942496391008895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1576611110992!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="order_no">
    <mat-header-cell *matHeaderCellDef> order_no </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.order_no}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef> address </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="start">
    <mat-header-cell *matHeaderCellDef> start </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.start}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="finish">
    <mat-header-cell *matHeaderCellDef> finish </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.finish}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef> product </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mix_code">
    <mat-header-cell *matHeaderCellDef> mix_code </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mix_code}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ordered">
    <mat-header-cell *matHeaderCellDef> ordered </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ordered}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> quantity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delivered">
    <mat-header-cell *matHeaderCellDef> delivered </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.delivered}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customer">
    <mat-header-cell *matHeaderCellDef> customer </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.customer}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="project">
    <mat-header-cell *matHeaderCellDef> project </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.project}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tickets">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-button (click)="openDialog()">Tickets</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
