<header>
<h1>Order Tracking</h1>
<p>Customer: 250006<br/>
  Project: QA33290</p>
</header>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1zlNNCCrb9lkHygJxtyt1ECbFAS214qyr" class="map"></iframe>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="order_no">
    <mat-header-cell *matHeaderCellDef> order_no </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.order_no}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef> address </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="start">
    <mat-header-cell *matHeaderCellDef> start </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.start}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="finish">
    <mat-header-cell *matHeaderCellDef> finish </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.finish}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef> product </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="mix_code">
    <mat-header-cell *matHeaderCellDef> mix_code </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.mix_code}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ordered">
    <mat-header-cell *matHeaderCellDef> ordered </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ordered}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef> quantity </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delivered">
    <mat-header-cell *matHeaderCellDef> delivered </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.delivered}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="customer">
    <mat-header-cell *matHeaderCellDef> customer </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.customer}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="project">
    <mat-header-cell *matHeaderCellDef> project </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.project}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tickets">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-button (click)="openDialog()">Tickets</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
